@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  font-family: "Montserrat", sans-serif;
  background-color: #59c1bd;
}

.main-container {
  text-align: center;
  margin: 10px auto;
  width: 700px;
}

.input-val {
  margin-top: 1.2rem;
  display: flex;
  flex-direction: column;
  text-align: initial;
}
input[type="text"] {
  padding: 7px 0;
  width: 90%;
  margin-bottom: 1em;
}
.dateamt {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

input[type="date"] {
  padding: 5px 0;
  width: 250px;
  margin-bottom: 2em;
}

input[type="number"] {
  padding: 5px 0;
  width: 250px;
  margin-bottom: 2em;
  margin-right: 0.9em;
}

#btn {
  width: 100px;
  margin: 0 auto;
  padding: 5px 2px;
  border: none;
  font-weight: bold;
  background-color: #dc3535;
  color: #fff;
  border-radius: 5px;
  cursor: pointer;
}
#btn:hover {
  background-color: #e14a4a;
}

table {
  margin-top: 10px;
  border: 1px solid black;
  width: 100%;
  background-color: #fff;
}

.table-header {
  display: flex;
  border-bottom: 2px solid grey;
}

th {
  text-align: start;
  width: 33%;
}

tr {
  padding: 5px 0;
  border-bottom: 1px solid #333;
}

.table-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.delete-expense {
  padding: 2px 5px;
  border: none;
  font-weight: bold;
  background-color: red;
  color: #fff;
  cursor: pointer;
}

.delete-expense:hover {
  background-color: #f35656;
}
